.button {
  min-width: 170px;
  width: 100%;
  color: $color_06;
  border-radius: 8px;
  padding: 12px 42px;
  font-size: 16px;
  font-weight: 600;
  background-color: $color_01;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 50px;

  &:disabled {
    cursor: auto;
    background-color: $color_02;
    color: $color_03;
  }

  &:disabled:hover {
    background-color: $color_02;
    color: $color_03;
  }
}

@media screen and (min-width: 800px) {
  .button {
    margin-top: 4px;
    width: 25%;
  }
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    color: $color_02;
    background-color: $color_05;
  }
}
