@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: $main_background_color;
  font-weight: 400;
  font-size: 14px;
  width: 100%;
}

#root {
  @include flex(flex-start, center, row);
  width: 100%;
  width: 100%;
}
