@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  @include flex(center, flex-start, column);
  background-color: $color_05;
  font-size: 14px;
  width: 100%;
  min-height: 100vh;
}

#root {
  @include flex(center, flex-start, column);
  flex: 1;
  width: 100%;
  width: 100%;
}
