$main_background_color: #555555;
$main_border_color: #d8d8d8;
$main_text_color: #ffffffde;

$searchBlock_button_color_text: #ffffffde;
$searchBlock_button_color_hover: #c4c4c4;
$searchBlock_button_color_bg: #1a1a1a;
